<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JEIS Logo Votter - Home</title>
</head>
<body>
    Bem Vindo, {{ request.user.username }}
    <a href="{% url 'logoffOption' %}"><button>Logout</button></a>
    <hr>
    {% if request.user.is_superuser == 1 %}
    <h3>Cadastrar Logo</h3>
    <form action="{% url 'home' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h3>Turma:</h3>
        <input type="text" name="turma" placeholder="Nome da turma">
        <h3>Imagem da logo:</h3>
        <input type="file" name='imagem'>
        <br> <br>
        <button type="submit">Cadastrar</button>
    </form>
    <hr>
    {% endif %}
    {% for logo in logos %}

        <div>
            <h3>{{logo.turma}}</h3>
            <img src="{{logo.imagem.url}}" alt="" srcset="" width="400px" height="400px">
            <br> <br>
            {% if request.user.liked == 0 %}
            <a href="{% url 'curtirLogo' logo.id %}"><button>Votar</button></a>
            {% endif %}
            {% if request.user.is_superuser == 1 %}
            <a href="{% url 'deletarLogo' logo.id %}"><button>Deletar Logo</button></a>
            {% endif %}
        </div>

    {% endfor %}
</body>
</html>