<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JEIS Logo Votter - Login</title>
</head>
<body>
    <h3>Fazer Login</h3>
    <form action="{% url 'loginPage' %}" method="POST">
        {% csrf_token %}
        <h3>CPF:</h3>
        <input type="text" name="cpf" id="" placeholder="Example: 12345678912">
        <h3>Password:</h3>
        <input type="password" name="password">
        <br> <br>
        <button type="submit">Entrar</button>
    </form>
    <a href="{% url 'signupPage' %}"><button>Cadastrar</button></a>
</body>
</html>