<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JEIS Logo Votter - SignUp</title>
</head>
<body>
    <h3>Fazer Cadastro</h3>
    <form action="{% url 'signupPage' %}" method="POST">
        {% csrf_token %}
        <h3>Username:</h3>
        <input type="text" name="username">
        <h3>Email:</h3>
        <input type="email" name="email" placeholder="seuemail@sesigoias.com.br">
        <h3>CPF:</h3>
        <input type="text" name="cpf" id="" placeholder="Example: 12345678912">
        <h3>Password:</h3>
        <input type="password" name="password">
        <br> <br>
        <button type="submit">Cadastrar</button>
    </form>
    <a href="{% url 'loginPage' %}"><button>Voltar</button></a>
</body>
</html>